<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="admin/style.css">
</head>
<body>
	<div>
			<h2>Welcome Mr. Customer, <%= user.username%></h2> 		
	</div>


</html>