<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
			<h2>Add Employee</h2> 		
	</div>

	<a href="/admin">Back</a> |
	<a href="/logout">Logout</a><br>
	
	<form method="post">
		<table>
			<tr>
				<td>PID: </td>
				<td><input type="text" readonly name="pid" ></td>
			</tr>
			<tr>
				<td>Product Name: </td>
				<td><input type="text" name="pname" ></td>
			</tr>
			<tr>
				<td>Size: </td>
				<td><input type="text" name="psize" ></td>
			</tr>
			<tr>
				<td>Quantities: </td>
				<td><input type="text" name="pquantity" ></td>
			</tr>
			<tr>
				<td>Image srcr: </td>
				<td><input type="text" name="image"></td>
			</tr>
			<tr>
				<td>description: </td>
				<td><input type="text" name="pdescription" ></td>
			</tr>
			<tr>
				<td>Price: </td>
				<td><input type="text" name="price" ></td>
			</tr>
			<tr>
				<td>catagory: </td>
				<td><input type="text" name="catagory" ></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" name="" value="Save"> 
				</td>
			</tr>
		</table>
	</form>


</body>
</html>