<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div>
			<h2>Add Employee</h2> 		
	</div>

	<a href="/admin">Back</a> |
	<a href="/logout">Logout</a><br>
	
	<form method="post">
		<table>
			
			<tr>
				<td>Employee name: </td>
				<td><input type="text" name="Ename" value=""></td>
			</tr>
			<tr>
				<td>Company name: </td>
				<td><input type="text" name="Cname" value=""></td>
			</tr>
			<tr>
				<td>Contract name: </td>
				<td><input type="text" name="ContactNo" value=""></td>
			</tr>
			<tr>
				<td>Username: </td>
				<td><input type="text" name="username" value=""></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><input type="text" name="password" value=""></td>
			</tr>
			<tr>
				<td>Type: </td>
				<td><input type="text" name="Utid" value=""></td>
			</tr>
			<tr>
				<td>job: </td>
				<td><input type="text" name="jid" value=""></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" name="" value="Save"> 
				</td>
			</tr>
		</table>
	</form>


</body>
</html>